.body_background 
{
    background-position: center;
    background-size:contain;
	background:url(Grass.jpg);
}
#Canvas
{
    border-width:10px;
    border-style:ridge;
	background-color:forestgreen;
}


#h13{
	display: inline-block;
	color: red;
	background-color: aliceblue;
	font-family: fantasy;
}

